/* 컨테이너와 카드 스타일 */
.review-page-container {
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: #f9f9f9;
}


.review-card {
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 카드 헤더 스타일 */
.review-card-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.review-card-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
}

.review-card-header .user-info {
    flex: 1;
}

.review-card-header .user-info a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.review-card-header .user-info a:hover {
    text-decoration: underline;
}

.review-card-header .dropdown-menu {
    min-width: 150px;
}

.review-card-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

/* 컨테이너와 카드 스타일 */
.review-page-container {
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: #f9f9f9;
}


.review-card {
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 카드 헤더 스타일 */
.review-card-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.review-card-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
}

.review-card-header .user-info {
    flex: 1;
}

.review-card-header .user-info a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.review-card-header .user-info a:hover {
    text-decoration: underline;
}

.review-card-header .dropdown-menu {
    min-width: 150px;
}

.review-card-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

/* 카드 본문 스타일 */
.review-card-body {
    padding: 1rem;
    background-color: #ffffff;
}

.review-rating {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.edit-textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    font-size: 1rem;
}

.review-content {
    font-size: 1rem;
    line-height: 1.5;
}