<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RereplyMapper">
		
		<select id="rereplyList" resultType="hashmap">
				select r.*, user_nickname, user_img , date_format(rereply_regdate, '%Y-%m-%d %H:%i:%S') as fmtdate ,date_format(rereply_udate, '%Y-%m-%d %H:%i:%S') as fmtudate
				from rereply r, user u
				where rereply_writer= user_uid and reply_key=#{reply_key}
		</select>
		
		<select id="rereplyRead" resultType="hashmap">
				select r.*, user_nickname, user_img, date_format(rereply_regdate, '%Y-%m-%d %H:%i:%S') as fmtdate ,date_format(rereply_udate, '%Y-%m-%d %H:%i:%S') as fmtudate 
				from rereply r, user u
				where rereply_writer= user_uid and rereply_key=#{rereply_key}
		</select>
		
		<insert id="insert">
				insert into rereply ( reply_key, rereply_writer, rereply_contents, rereply_lock )
				value ( #{reply_key}, #{rereply_writer}, #{rereply_contents}, #{rereply_lock})
		</insert>
		
		<update id="update">
				update rereply set rereply_contents=#{rereply_contents}, rereply_udate=now()
				where rereply_key=#{rereply_key}
		</update>
		
		<update id="updatereLock">
				update rereply set rereply_lock=#{rereply_lock} where rereply_key=#{rereply_key}
		</update>
		
		<delete id="delete">
				delete from rereply where rereply_key=#{rereply_key};
		</delete>
		
		<select id="total" resultType="int">
				select count(*) as total from rereply where reply_key=#{reply_key} ;
		</select>
		
		<insert id="LikeInsert">
				insert into rereplyLike (rereply_key, rereply_writer, rereply_reaction)
				values (#{rereply_key}, #{rereply_writer}, 1)
		</insert>
		
		<insert id="HateInsert">
				insert into rereplyLike (rereply_key, rereply_writer, rereply_reaction)
				values (#{rereply_key}, #{rereply_writer}, (-1) )
		</insert>
		
		<update id="reactionUpdate">
				update rereplyLike set rereply_reaction= (rereply_reaction*(-1)) where rereply_key=#{rereply_key} and rereply_writer=#{rereply_writer};
		</update>
		
		<delete id="reactionDelete">
			delete from rereplyLike where rereply_key=#{rereply_key} and rereply_writer=#{rereply_writer}
		</delete>
		
		<select id="readReaction" resultType="String">
				select rereply_reaction from rereplyLike where rereply_writer=#{rereply_writer} and rereply_key=#{rereply_key};
		</select>
		
		<select id="CountReaction" resultType="hashmap">
		    select 
		        sum(case when rereply_reaction = 1 then 1 else 0 end) as likeCount,
		        sum(case when rereply_reaction = -1 then 1 else 0 end) as hateCount
		    from rereplyLike 
		    where rereply_key = #{rereply_key};
		</select>
	
</mapper>