<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReviewMapper">

		<select id="reviewList" resultType="hashmap">
			    select r.*, user_nickname, user_img, user_uid, date_format(review_regDate, '%Y-%m-%d %H:%i:%S') as fmtdate ,date_format(review_uDate, '%Y-%m-%d %H:%i:%S') as fmtudate
			    from review r, user u
			    where review_writer= user_uid and review_mall_key=#{review_mall_key} 
			    order by review_rating desc
			    limit #{start}, #{size}
		</select>
		
		<select id="reviewRead" resultType="hashmap">
			    select r.*, user_nickname, user_img, user_uid, date_format(review_regDate, '%Y-%m-%d %H:%i:%S') as fmtdate ,date_format(review_uDate, '%Y-%m-%d %H:%i:%S') as fmtudate 
			    from review r, user u
			    where review_writer= user_uid and review_key=#{review_key} 
		</select>	
		
		<insert id="insert">
				insert into review ( review_mall_key, review_writer, review_rating, review_contents, review_lock )
				value ( #{review_mall_key}, #{review_writer}, #{review_rating}, #{review_contents}, #{review_lock} )
		</insert>
		
		<update id="update">
				update review set review_rating=#{review_rating}, review_contents=#{review_contents}, review_uDate=now()
				where review_key=#{review_key}
		</update>
		
		<update id="updateLock">
				update review set review_lock=#{review_lock} where review_key=#{review_key}
		</update>
		
		<delete id="delete">
				delete from review where review_key=#{review_key};
		</delete>
		
		<select id="total" resultType="int">
				select count(*) as total from review where review_mall_key=#{review_mall_key} ;
		</select>
		
		
						
</mapper>